* {
    margin: 0;
    padding: 0;
}


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex {
    display: flex;
}

/* Dark 02 */
.text-gray {
    color: #424242;
}

/* Dark 03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */


/* navbar related styles */
.navbar {
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}