/* * {
    margin: 0;
    padding: 0;
} */

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex {
    display: flex;
}

.text-primary {
    color: #FF900E;
}

/* Dark 02 */
.text-gray {
    color: #424242;
}

/* Dark 03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: #ffffff;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}

main > section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */


/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-left: 40px;
}

.brand {
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner, main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related styles  */

.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-description {
    line-height: 26px;
}

.banner-image {
    width: 100%;
}

/* team and feature related syles */
.teams {
    align-items: center;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-features {
    margin-left: 73px;
    max-width: 530px;
}

#quick-list {
    font-weight: 500;
}

.feature-description {
    line-height: 26px;
    margin-bottom: 32px;
}

/* some facts related styles */
.facts-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px auto;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin: 5px auto;
}

.fact-description {
    max-width: 540px;
}

/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .teams {
        flex-direction: column;
    }

    .nav-item {
        margin-left: 0;
    }

    .team-image-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-features{
        margin: 20px;
    }
}

/* medium size device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .team-features{
        margin: 20px auto;
    }

    .teams {
        flex-direction: column;
    }
}